# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database (auto-created on first run)
gameevents_desktop.db

# Virtual environment
venv/
.env/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Distribution
dist/
build/
*.egg-info/
